<!--%= render './contacts/upload'%-->

</div class="container" >

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"> Select CSV File</h3>
    </div>
    <div class="panel-body">
      <div class="row" id="upload_area">
        <form method="post" id="upload_form" enctype="multipart/form-data">
          <div class="col-md-6" text-align="right"> Select File</div>
          <div class="col-md-6">
            <input type="file" name="file" id="csv_file"/>
          </div>
          <br />
          <br />
          <br />
          <div class="col-md-12" text-align="center">
            <input type="submit" name="upload_file" id="upload_file" class="btn btn-primary" value="Upload"/>
          </div>
        </form>
        <div class="table-responsive" class="process_area">

        </div>
      </div>
    </div>
  </div>
</div>

